:root {
  --navBar-bg: #fdf7df;
  --page-bg: #fedcc0;
}

html, body{
  overflow-x: hidden;
}

body {
  margin: 0;
  padding-top: 12vh;
  width: 100vw;
  background-color: var(--page-bg);
}

.flex-parent{
  display: flex;
}

.home{
  height: 78vh;
  background-image: url(../content/images/homepage1.JPG);
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

.home h1{
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  color: white;
}

/* #home-pic{
  z-index: -1;
  height: vh;
  width: 100vw;
  object-fit: cover;
} */

header{
  text-align: center;
  background-color: var(--navBar-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
  min-height: 12vh;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  width: 100%;
  background-color: var(--navBar-bg);
  padding-left: 1rem;
  height: 10vh;
}

footer a{
  text-decoration: none;
}

.navbar-collapse{
  flex-basis: none;
  flex-grow: 0;
}

.propertyParent {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  background-color: var(--page-bg);
}

.propertyParent h2 {
  text-align: center;
  margin: 2vh 2vw;
}

.propertyParent h4 {
  text-align: center;
  margin: 0 auto;
  padding: 0vh 2vw;
}

.propDesc {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 0vh 1vh 2vw;
}

.mainPropImg {
  margin: 0 auto;
  padding: 0vh 1vh 2vw;
  max-width: 75%;
}

.carousel {
  max-width: 75%;
  height: 700px;
  margin: 0vh 1vh 2vw;
}

.carousel img {
  min-width: 100%;
  max-width: 100%;
  max-height: 700px;
  object-fit: contain;
}

.contact-page{
  height: 78vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.excavator {
  max-width: 30%;
}

.document-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  width: 98%;
}

.document-parent h2 {
  width: 98%;
  text-align: center;
  padding: 1vh 1vw;
}

.downloadBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  text-align: center;
  border: solid 2px black;
  border-radius: 8px;
  padding: 1vh 1vw;
  margin: 1vh 1vw
}

.downloadElements {
  display: flex;
  flex-direction: wrap;
}

.contact-page h3,
.contact-page a{
  margin: 1rem 0;
  text-decoration: none;
  color: black;

}