:root {
  --navBar-bg: #fdf7df;
  --dropDown-hover: #888888;
  --page-bg: #fedcc0;
}

html,
body {
  overflow-x: hidden;
  color: #000000;
}

body {
  margin: 0;
  padding-top: 12vh;
  width: 100vw;
  background-color: var(--page-bg);
}

.flex-parent {
  display: flex;
}

.home {
  height: 78vh;
  background-image: url(/content/images/homepage1.JPG);
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

.home h1 {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  color: white;
}

/* #home-pic{
  z-index: -1;
  height: vh;
  width: 100vw;
  object-fit: cover;
} */

header {
  text-align: center;
  background-color: var(--navBar-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
  min-height: 12vh;
}

header h1{
  margin-top: 5px;
}

.dropdown-menu {
  background-color: var(--navBar-bg);
}

.dropdown-item:hover {
  background-color: var(--dropDown-hover);
  transition: ease-in-out .1s;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  width: 100%;
  background-color: var(--navBar-bg);
  padding-left: 1rem;
  min-height: 10vh;
  height: fit-content;
}

footer a {
  text-decoration: none;
  width: fit-content;
}

.navbar-collapse {
  flex-basis: none;
  flex-grow: 0;
}

.propertyParent {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  background-color: var(--page-bg);
}

.propertyParent h2 {
  text-align: center;
  margin: 2vh 2vw;
}

.propertyParent h4 {
  text-align: center;
  margin: 0 auto;
  padding: 0vh 2vw;
}

.propDesc {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 0vh 1vh 2vw;
}

.mainPropImg {
  margin: 0 auto;
  padding: 0vh 1vh 2vw;
  max-width: 75%;
}

.carousel {
  max-width: 90%;
  height: 700px;
  margin: 0vh 1vh 2vw;
  display: flex;
  align-items: center;
  aspect-ratio: 16 / 9;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel img {
  min-width: 100%;
  max-width: 100%;
  max-height: 700px;
  object-fit: contain;
  margin: auto;
  aspect-ratio: 16 / 9;
}

.contact-page {
  height: 78vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.excavator-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 78vh;
  margin: auto;
}

.excavator {
  margin-top: 5vh;
  width: 40%;
  max-height: 77vh;
}

.document-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 78vh;
  width: 98%;
}

.document-parent h2 {
  width: 98%;
  text-align: center;
  padding: 1vh 1vw;
}

.downloadBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  text-align: center;
  border: solid 2px black;
  border-radius: 8px;
  padding: 1vh 1vw;
  margin: 1vh 1vw
}

.downloadElements {
  display: flex;
  flex-direction: wrap;
  margin: 2rem;
}

.contact-page h3,
.contact-page a {
  margin: 1rem 0;
  text-decoration: none;
  color: black;
}

.application-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem 0;
}

.application-page form {
  align-items: center;
  text-align: center;
}

.admin-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  height: 78vh;
}

#no-groups {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 78vh;
}

.fade-in {
  animation: fadeIn 1s;
}

.property-start {
  min-height: 105vh;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .mainPropImg {
    max-width: 95%;
  }

  .carousel {
    max-width: 99%;
    height: 425px;
  }

  .carousel img {
    min-height: 400px;
  }

  .excavator {
    width: 75%;
  }

  .application-page h3 {
    width: 95%;
    text-align: center;
  }

  .application-page form {
    width: 95%;
  }

  .downloadElements {
    flex-wrap: wrap;
    justify-content: center;
  }

  .downloadBtn {
    width: 80%;
  }

  .navbar {
    --bs-navbar-toggler-border-color: clear;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .navbar-toggler-icon {
    height: 1em;
    width: 1em;
    vertical-align: top;
  }

}

/* @media (max-width: 768px) {

} */